<mat-card class="form">
    <mat-form-field>
        <input matInput placeholder="Message" #message="ngModel" name="message" [(ngModel)]="curMessage">
    </mat-form-field>
    <br/>
    <button mat-raised-button color="primary" (click)="sendMessage()">Send</button>
</mat-card>
<mat-card *ngFor="let message of messages">
    <mat-card-title><strong>{{message.clientId}}:</strong> {{message.msgText}}</mat-card-title>
    <mat-card-subtitle>{{message.timestamp | date: 'short'}}</mat-card-subtitle>
</mat-card>
<h3 *ngIf="messageError">Error fetching messages</h3>
